.chart
{
    position: absolute;
    top:140px;
    height: 400px;
    width: 700px;
    left: 20px;
    border:black;
   border-radius: 10px;
   background-color: #ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.barChart
{
    position: absolute;
    top:130px;
    height: 400px;
    width: 700px;
    left: 20px;
    border:black;
  /* border-radius: 25px;*/
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}