.card{
    position: absolute;
   
    top:70px;
    left: 730px;
    height: 230px;
    width: 230px;
   background-color: #ebebeb;
   border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;
    border-bottom: 10px solid rgba(0, 0, 255,0.5) ;
}
.card2{
    position: absolute;
    top:70px;
    left: 1000px;
    height: 230px;
    width: 230px;
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;
    border-bottom: 10px solid rgba(0, 255,0,0.5) ;
}
.card3
{
    position: absolute;
    top:320px;
    left: 870px;
    height: 230px;
    width: 230px;
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;
    border-bottom: 10px solid  rgba(255,0,0,0.5);
}
