.main_nav{
   padding-left: 30px;
   padding-right: 100px;
   background-image: url(../../images/2.jpeg);
}

.image{
  width: 100px; 
  height: 50px; 
  display:inline-block;
  text-align: center;
  padding-top: 20px;
}
.content{
  width: 250px; 
  height: 50px; 
  overflow: auto; 
  width: auto; 
  position: absolute;
  left:950px;
  top:25px;
}
.home{
   display:inline-block;
    padding-right: 30px;
    font-family: poppins;
    float: left;  
    color:lightslategrey
}
.about{
   
   padding-right: 30px;
   font-family: poppins;
   float: left;  
   color:lightslategrey;
   text-decoration: aliceblue;
}
.contact{
   display: inline-block;
   font-family: poppins;
   float: left;  
   color:lightslategrey;
   
}